body {
	margin: 0px auto;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5em;
}

 h1, h2, h3 {
	text-align: center;
}

p {
	color: #555;
}

table {
	border:1px solid green;
	padding: 2%;
}
			
td {
	font-family: 'Supermercado One', cursive, fantasy,sans-serif;
	color:teal;
	font-size:20px;
	border:1px solid green;		
}

.innertube {
	padding:0;
	margin: 0;
	
}

#header {
	float:left;
	clear:both;
	margin:0;
	padding:0;
	height: 100px;
	width: 100%;
	background: #12999E;
}

#footer {
	margin: 0px auto;
	clear: both;
	float: left;
	width: 100%;
	background: #12999E;
	text-align: center;
	
}

#content {
	width:100%;
	float: left;
	clear: both;;
}

#nav {
	float: left;
	background: #EEE;
	width: 100%;
	clear: both;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li {
	margin-left:2%;
	margin-right:1%;
	margin-bottom:1%;
	border-style:dashed;
	border-color:black;
	position: relative;
	float: left;
	line-height: 28px;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 50em;
}

#nav li a {
	color: darkgreen;
	text-decoration: none;
}


