body {
	margin: 0px auto;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5em;	
}



#header {
	background: #12999E;
	height: 100px;
	width: 100%;
}

#header h1 {
	margin: 0;
	padding-top: 18px;
}

main {
	float: left;
}

#nav {	
	float: left;
	background: #EEE;
}

#footer {
	clear: both;
	float:left;
	width: 100%;
	background: #12999E;
	text-align: center;
	padding: 4px 0;		
}

#wrapper {
	float: left;
}

#content {
	float:left;
}

.innertube {
	margin: 15px;
	margin-top: 0;
}

p {
	color: #555;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav ul a{
	color: darkgreen;
	text-decoration: none;
}